.container {
  max-width: 670px;
  margin: 0 auto;
  overflow: hidden;
  padding: 1em 2em;
  background-color: rgba(255, 255, 0, 0.421);
}

.heading {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.comp {
  margin-bottom: 1rem;
}
.comp input {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.25em;
}

.submit {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.submit:hover {
  background-color: #4caf4f96;
  color: #1c1c1c9f;
}
