.main {
  max-width: 976px;
  margin: 0 auto;
  display: flex;
  padding: 3em;
  justify-content: center;
  align-items: center;
  background-color: beige;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 576px;
  width: 100%;
}

.comp {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.comp label {
  font-weight: bold;
}
.comp input {
  padding: 0.45em 1em;
}
.submit {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.submit:hover {
  background-color: #4caf4f96;
  color: #1c1c1c9f;
}
